.emptyCart {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyCart>p {
  font-size: 2vmax;
  font-style: italic;
}

.emptyCart>a {
  background-color: tomato;
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
}

.stepper {
  display: flex;
  padding-left: 60px;
  margin-bottom: 50px;
}

.stepper hr {
  width: 270px;
  position: relative;
  margin-top: 30px;
}

.cart-hr {
  border: 2px solid black;
  height:10px;
  background-color: black;
}

.stepper-img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

.cartPage {
  padding: 5vmax;
}

.cartHeader {
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  color: black;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 300 0.7vmax "Roboto";
  font-style: italic;
}

.cartHeader>p {
  margin: 10px;
  font-size: 20px;
}

.cartHeader>p:last-child {
  text-align: end;
}

.cartContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.cartInput {
  display: flex;
  align-items: center;
  height: 8vmax;
}

.cartInput>input {
  width: 50px;
  text-align: center;
  padding-left: 5px;
  border: none;
}

.cartSubtotal {
  display: flex;
  padding: 0.5vmax;
  height: 8vmax;
  align-items: center;
  box-sizing: border-box;
  font: 300 1vmax cursive;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.753);
}

.cartGrossProfit {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}

.cartGrossProfitBox {
  border-top: 3px solid black;
  margin: 1vmax 4vmax;
  box-sizing: border-box;
  padding: 2vmax 0;
  font: 300 1vmax "Roboto";
  display: flex;
  justify-content: space-between;
}

.checkOutBtn {
  display: flex;
  justify-content: flex-end;
}

.checkOutBtn>button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.8vmax 4vmax;
  width: 50%;
  font: 300 0.8vmax "Roboto";
  margin: 1vmax 4vmax;
  cursor: pointer;
  border-radius: 30px;
}