.users-profile-section{
    margin-top: 300px;
    width:600px;
    border:1px solid gainsboro;
    margin-left: 650px;
    border-radius: 15px;
    height:400px;
}
.user-profile-img{
   
    width:200px;
    height:200px;
    margin-left: 190px;
    border-radius: 100px;
    margin-top: -55px;
}
.user-name-text{
    text-align: center;
    color:rgba(0, 0, 0, 0.769);
    font-size: 20px;
    
}
.edit-profile-text{
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}
.user-email-text{
    text-align: center;
    font-size: 15px;
}
.profile-edit-btn{
    width:100%;
    margin-top: 10px;
    border:1px solid gainsboro;
    height:30px;
}